li ol li p {
    margin: 0.5px;
}

.a_footer {
    padding: 0.7rem 0.5rem;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, "Source Sans Pro", "Segoe UI", Arial, sans-serif;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, "Source Sans Pro", "Segoe UI", Arial, sans-serif;
}

pre, code, kbd, samp {
    font-family: "Input Mono", "Droid Sans Mono","Source Code Pro",Menlo,Monaco,Consolas,"DejaVu Sans Mono",Inconsolata,monospace;
}
